# Importing Libraries

In [1]:
# import pandas for dataframe
import pandas as pd
# import numpy for transformations
import numpy as np
# visulization librarie
import matplotlib.pyplot as plt
import seaborn as sns

# Data Wrangling

## 1. Data Gathering and Data Overview

In [2]:
df1 = pd.read_csv('../data/Coursera.csv')  # Go one level up and access data.csv
df1.head()  # Display first few rows

,Course Name,University,Difficulty Level,Course Rating,Course URL,Course Description,Skills
0,Write A Feature Length Screenplay For Film Or ...,Michigan State University,Beginner,4.8,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...
1,Business Strategy: Business Model Canvas Analy...,Coursera Project Network,Beginner,4.8,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be...",Finance business plan persona (user experien...
2,Silicon Thin Film Solar Cells,�cole Polytechnique,Advanced,4.1,https://www.coursera.org/learn/silicon-thin-fi...,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...
3,Finance for Managers,IESE Business School,Intermediate,4.8,https://www.coursera.org/learn/operational-fin...,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...
4,Retrieve Data using Single-Table SQL Queries,Coursera Project Network,Beginner,4.6,https://www.coursera.org/learn/single-table-sq...,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...

In [3]:
# Make a copy of the data
df = df1.copy()

In [4]:
# Check Shape of the data
df.shape

(3522, 7)

In [5]:
df.info()  # Check for columns datatype and more about the size of the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3522 entries, 0 to 3521
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Course Name         3522 non-null   object
 1   University          3522 non-null   object
 2   Difficulty Level    3522 non-null   object
 3   Course Rating       3522 non-null   object
 4   Course URL          3522 non-null   object
 5   Course Description  3522 non-null   object
 6   Skills              3522 non-null   object
dtypes: object(7)
memory usage: 192.7+ KB

In [6]:
# show the columns name
df.columns

Index(['Course Name', 'University', 'Difficulty Level', 'Course Rating',
       'Course URL', 'Course Description', 'Skills'],
      dtype='object')

In [7]:
# Check for missing values
df.isna().sum()

Course Name           0
University            0
Difficulty Level      0
Course Rating         0
Course URL            0
Course Description    0
Skills                0
dtype: int64

**Conclusion**

- In the data there are total 7 columns
- And there is no missing data

## 2. Data Cleaning

In [8]:
# Check for the Duplicates rows
df.duplicated().sum()

98

In [9]:
df[df.duplicated()].sample(10)

,Course Name,University,Difficulty Level,Course Rating,Course URL,Course Description,Skills
3469,Google Cloud Platform Fundamentals: Core Infra...,Google Cloud,Conversant,4.7,https://www.coursera.org/learn/gcp-fundamentals,This course introduces you to important concep...,Google Cloud Platform Big Data Cloud Infrast...
3061,Regression Models,Johns Hopkins University,Beginner,4.3,https://www.coursera.org/learn/regression-models,"Linear models, as their name implies, relates ...",linearity linear model modeling Regression ...
1791,Data Visualization with Python,IBM,Beginner,4.4,https://www.coursera.org/learn/python-for-data...,"""A picture is worth a thousand words"". We are ...",Chart Python Programming Choropleth Map ana...
932,Network Security & Database Vulnerabilities,IBM,Beginner,4.6,https://www.coursera.org/learn/network-securit...,This course gives you the background needed to...,Databases database security data security s...
1169,Symmetric Cryptography,University of Colorado System,Advanced,4.5,https://www.coursera.org/learn/symmetric-crypto,Welcome to Symmetric Cryptography! Symmetric...,ruby on rails cipher symmetric-key algorithm...
1888,Exploratory Data Analysis for Machine Learning,IBM,Intermediate,4.8,https://www.coursera.org/learn/ibm-exploratory...,This first course in the IBM Machine Learning ...,Bayesian nonparametric statistics Feature En...
582,Aromatherapy: Clinical Use of Essential Oils,University of Minnesota,Intermediate,4.8,https://www.coursera.org/learn/aromatherapy-cl...,This course provides an overview of essential ...,medicine cosmetics ayurveda oil anxiety a...
2401,Supervised Learning: Regression,IBM,Advanced,5,https://www.coursera.org/learn/supervised-lear...,This course introduces you to one of the main ...,Regression Early Stopping Validation Set Ma...
688,Data Science Capstone,Johns Hopkins University,Advanced,4.3,https://www.coursera.org/learn/data-science-pr...,The capstone project class will allow students...,Data Analysis Machine Learning Human Learnin...
751,Managing an Agile Team,University of Virginia,Beginner,4.7,https://www.coursera.org/learn/uva-darden-agil...,While agile has become the de facto standard f...,openfabrics alliance kanban scrum (software ...

In [10]:
# Drop the duplicate rows from the data
df.drop_duplicates(keep='first', inplace=True)

In [11]:
# Shape of the data
df.shape

(3424, 7)

In [13]:
# Function to remove extra space from text
def remove_space(text):
    if isinstance(text,str):
        text = text.strip().lower()
        return text
    return text

In [16]:
# now apply the remove_space function to the all the text columns 
df['Course Name'] = df['Course Name'].apply(clean_text)
df['Course Rating'] = df['Course Rating'].apply(clean_text)
df['University'] = df['University'].apply(clean_text)
df['Difficulty Level'] = df['Difficulty Level'].apply(clean_text)
df['Course URL'] = df['Course URL'].apply(clean_text)
df['Course Description'] = df['Course Description'].apply(clean_text)
df['Skills'] = df['Skills'].apply(clean_text)

In [18]:
# check random 10 rows
df.sample(10)

,Course Name,University,Difficulty Level,Course Rating,Course URL,Course Description,Skills
1387,quantitative model checking,eit digital,advanced,4.1,https://www.coursera.org/learn/quantitative-mo...,the integration of ict (information and commun...,modulo operation null coalescing operator da...
2841,communicating data science results,university of washington,advanced,3.6,https://www.coursera.org/learn/data-results,important note: the second assignment in this ...,communication recursively enumerable set gen...
2260,introduction to molecular spectroscopy,university of manchester,beginner,4.7,https://www.coursera.org/learn/spectroscopy,the course introduces the three key spectrosco...,interpretation chemical engineering analysis...
2701,process mining: data science in action,eindhoven university of technology,beginner,4.8,https://www.coursera.org/learn/process-mining,process mining is the missing link between mod...,process modeling business process process mi...
1337,containerize a full-stack nodejs application i...,coursera project network,beginner,4.8,https://www.coursera.org/learn/containerize-fu...,in this 1-hour long project-based course on in...,node.js databases application development l...
3403,introduction to web development,"university of california, davis",conversant,4.6,https://www.coursera.org/learn/web-development,this course is designed to start you on a path...,web web design html5 web development web p...
2880,explore stock prices with spark sql,coursera project network,beginner,4.4,https://www.coursera.org/learn/data-exploratio...,"in this 1-hour long project-based course, you ...",analysis sql stock statistical analysis sa...
3043,"the sustainable development goals � a global, ...",university of copenhagen,beginner,4.8,https://www.coursera.org/learn/global-sustaina...,"in 2015, the un launched the 17 sustainable de...",climate change problem solving awareness th...
803,understanding your google cloud platform (gcp)...,google cloud,advanced,4.6,https://www.coursera.org/learn/gcp-cost-manage...,understanding your google cloud platform (gcp)...,google cloud platform cloud computing plant ...
1155,digitalisation in aeronautics,technische universit�t m�nchen (tum),advanced,5,https://www.coursera.org/learn/aeronautics,"the instructors of the online course ""digitali...",nastran unmanned aerial vehicle traffic simu...

In [19]:
# renaming the columns name
df.rename(columns={'Course Name' : 'Name', 
                   'Course Rating' : 'Rating',
                  'Course URL' : 'URL',
                  'Course Description' : 'Description'},inplace=True)

In [20]:
df.head()

,Name,University,Difficulty Level,Rating,URL,Description,Skills
0,write a feature length screenplay for film or ...,michigan state university,beginner,4.8,https://www.coursera.org/learn/write-a-feature...,write a full length feature film script in th...,drama comedy peering screenwriting film d...
1,business strategy: business model canvas analy...,coursera project network,beginner,4.8,https://www.coursera.org/learn/canvas-analysis...,"by the end of this guided project, you will be...",finance business plan persona (user experien...
2,silicon thin film solar cells,�cole polytechnique,advanced,4.1,https://www.coursera.org/learn/silicon-thin-fi...,this course consists of a general presentation...,chemistry physics solar energy film lambda...
3,finance for managers,iese business school,intermediate,4.8,https://www.coursera.org/learn/operational-fin...,"when it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...
4,retrieve data using single-table sql queries,coursera project network,beginner,4.6,https://www.coursera.org/learn/single-table-sq...,in this course you�ll learn how to effectively...,data analysis select (sql) database manageme...

In [ ]:
# Change the datatype of the rating column